@font-face {
  font-family: "GmarketSans";
  src: url("/fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSans";
  src: url("/fonts/GmarketSansTTFLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSans";
  src: url("/fonts/GmarketSansTTFBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "GmarketSans", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: #0f1010 !important;
}

/* 배너 텍스트 타이핑 */
@layer utilities {
  .animate-blink {
    animation: blink-caret 0.9s ease-in-out infinite;
  }

  @keyframes blink-caret {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

/* skills */
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.6s ease-out forwards;
}
